

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("/Views/Home/PartialHead.cshtml")

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    @Html.Partial("/Views/Home/PartialTopbar.cshtml")
    <!-- Topbar End -->
    <!-- Navbar & Hero Start -->
    @Html.Partial("/Views/Home/PartialNavbar.cshtml")
    <!-- Navbar & Hero End -->
    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center bg-primary">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="btn bg-light border nput-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->
    <!-- Carousel Start -->
    @Html.Partial("/Views/Home/PartialSlider.cshtml")
    <!-- Carousel End -->
    <!-- Feature Start -->
    @Html.Partial("/Views/Home/PartialFeature.cshtml")
    <!-- Feature End -->
    <!-- About Start -->
    @Html.Partial("/Views/Home/PartialAbout.cshtml")
    <!-- About End -->
    <!-- Service Start -->
    @*@Html.Partial("/Views/Home/PartialService.cshtml")*@
    @Html.Action("PartialService", "Home")
    <!-- Service End -->
    <!-- FAQs Start -->
    @Html.Action("PartialFAQ", "Home")
    <!-- FAQs End -->
    <!-- Team Start -->
    @Html.Partial("/Views/Home/PartialTeam.cshtml")
    <!-- Team End -->
    <!-- Testimonial Start -->
    @Html.Action("PartialTestimonial", "Home")
    <!-- Testimonial End -->
    <!-- Footer Start -->
    @Html.Partial("/Views/Home/PartialFooter.cshtml")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
    @Html.Partial("/Views/Home/PartialScript.cshtml")
</body>

</html>