@using System.Threading

<div class="container-fluid topbar px-0 px-lg-4 bg-light py-2 d-none d-lg-block">
    <div class="container">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <div class="border-end border-primary pe-3">
                        <a href="#" class="text-muted small"><i class="fas fa-map-marker-alt text-primary me-2"></i>@Resources.Lang.FindLocation</a>
                    </div>
                    <div class="ps-3">
                        <a href="mailto:example@gmail.com" class="text-muted small"><i class="fas fa-envelope text-primary me-2"></i>example@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex justify-content-end">
                    <div class="d-flex border-end border-primary pe-3">
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-twitter">(@ViewBag.TwitterFollower)</i></a>
                        <a class="btn p-0 text-primary me-3" href="#"><i class="fab fa-instagram">(@ViewBag.InstagramFollower)</i></a>
                    </div>
                    <div class="dropdown ms-3">
                        <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown">
                        <small><i class="fas fa-globe-europe text-primary me-2"></i>
                            @Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToUpper()
                            </small>
                        </a>
                        <div class="dropdown-menu rounded">
                            <a href="@Url.Action("Change", "Language", new { lang = "en", returnUrl = Request.RawUrl })" class="dropdown-item">English</a>
                            <a href="@Url.Action("Change", "Language", new { lang = "tr", returnUrl = Request.RawUrl })" class="dropdown-item">Türkçe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>