
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">@Resources.Lang.OurFeatures</h4>
            <h1 class="display-4 mb-4">@Resources.Lang.Features_MainTitle</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="far fa-handshake fa-3x"></i>
                    </div>
                    <h4 class="mb-4">@Resources.Lang.Feature_TrustedCompany</h4>
                    
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">@Resources.Lang.LearnMore</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-dollar-sign fa-3x"></i>
                    </div>
                    <h4 class="mb-4">@Resources.Lang.Feature_MoneyBack</h4>
                    
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">@Resources.Lang.LearnMore</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-bullseye fa-3x"></i>
                    </div>
                    <h4 class="mb-4">@Resources.Lang.Feature_FlexiblePlans</h4>
                   
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">@Resources.Lang.LearnMore</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="feature-item p-4 pt-0">
                    <div class="feature-icon p-4 mb-4">
                        <i class="fa fa-headphones fa-3x"></i>
                    </div>
                    <h4 class="mb-4">@Resources.Lang.Feature_FastSupport</h4>
                
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">@Resources.Lang.LearnMore</a>
                </div>
            </div>
        </div>
    </div>
</div>